{
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": false
      }
    ],
    "babel-plugin-transform-async-to-promises"
  ],
  "presets": ["@babel/preset-env"]
}
