<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport" />
    <title>Travel App</title>
  </head>

  <body>
    <header>
      <section class="banner">
        <h2 class="banner__text">Find Your Next Adventure</h2>
      </section>
    </header>

    <main>
      <section class="search">
        <form class="search-form" name="search">
          <label for="search-form__destination">
            To
            <input id="search-form__destination" type="text" required />
          </label>
          <label for="search-form__departure">
            From
            <input id="search-form__departure" type="text" required />
          </label>
          <label for="search-form__departure-date">
            Departure
            <input id="search-form__departure-date" type="date" required placeholder="dd/mm/yyyy" />
          </label>
          <label for="search-form__return-date">
            Return
            <input id="search-form__return-date" type="date" required placeholder="dd/mm/yyyy" />
          </label>
          <button type="submit" class="search-form__submit-button">Search</button>
        </form>
      </section>
      <section class="results">
        <article class="results-card">
          <figure class="results-card__image">
            <img
              class="results-card__image-thumbnail"
              src="/src/client/assets/placeholder-destination-thumb.jpg"
              alt="view of the destination"
            />
            <figcaption class="results-card__image-caption">
              <span class="results-card__image-caption-flag"></span>
              <span class="results-card__image-caption-destination"></span>
            </figcaption>
          </figure>
          <aside class="results-card__info">
            <div class="results-card__info-continent--label">Continent:</div>
            <div class="results-card__info-continent--value"></div>

            <div class="results-card__info-subregion--label">Subregion:</div>
            <div class="results-card__info-subregion--value"></div>

            <div class="results-card__info-country--label">Country:</div>
            <div class="results-card__info-country--value"></div>

            <div class="results-card__info-county--label">County:</div>
            <div class="results-card__info-county--value"></div>

            <div class="results-card__info-capital--label">Capital:</div>
            <div class="results-card__info-capital--value"></div>

            <div class="results-card__info-currency--label">Currency:</div>
            <div class="results-card__info-currency--value"></div>

            <div class="results-card__info-language--label">Language:</div>
            <div class="results-card__info-language--value"></div>

            <div class="results-card__info-timezone-name--label">Timezone:</div>
            <div class="results-card__info-timezone-name--value"></div>

            <div class="results-card__info-timezone-offset--label">Offset:</div>
            <div class="results-card__info-timezone-offset--value"></div>
          </aside>
        </article>
      </section>
    </main>
  </body>
</html>
