// Typography
$primary-font-family: ubuntu, arial, helvetica, sans-serif;

// $secondary-font-family: 'Asap', sans-serif;
$secondary-font-family: 'Poppins', sans-serif;

// Colors
$primary-font-color: black;
$secondary-font-color: white;
