// Typography
$primary-font-family: 'Poppins', sans-serif;

// Font Colors
$primary-font-color: black;
$secondary-font-color: white;

// Bg Colors
$primary-bg-color: #e462e8;
$secondary-bg-color: #404add;
$main-bg-color: white;
