@use 'sass:color';

.results .card {
  display: flex;
  flex-wrap: wrap;
  background: $main-bg-color;
  border-radius: 0.5rem;
  box-shadow: 0 0.07rem 0.15rem $primary-bg-color;

  &__image {
    margin: 0;
    background-color: color.scale($primary-bg-color, $lightness: 85%);

    &-thumbnail {
      width: 100%;
      border-top-right-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
      object-fit: cover;
    }

    &-caption {
      position: relative;
      top: -0.3rem;
      display: flex;

      &-flag {
        margin-left: auto;
        font-size: 1.6rem;
        padding-right: 0.2rem;
      }

      &-city {
        margin-right: auto;
        text-transform: capitalize;
        font-weight: bold;
        padding-left: 0.2rem;
        align-self: center;
      }
    }
  }

  &__info {
    padding: 0.3rem;
    width: 100%;

    & > div:nth-child(odd) {
      font-size: 1.1rem;
      font-weight: 500;
    }

    & > div:nth-child(even) {
      font-size: 1.1rem;
      align-self: center;
      margin-bottom: 0.5rem;
      overflow: hidden;
    }
  }

  &__weather {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template:
      'weather-title weather-title' 1fr
      'weather-date weather-date' 1fr
      'weather-icon weather-temperature' auto
      'weather-icon weather-humidity-wind' auto
      'weather-description weather-description' 1fr / 1fr 2fr;

    &-title {
      grid-area: weather-title;
      margin: auto;
      font-weight: bold;
    }

    &-date {
      grid-area: weather-date;
      margin: auto;
    }

    &-icon {
      grid-area: weather-icon;
      width: 85%;
      height: auto;
      margin: auto;
    }

    &-temperature {
      grid-area: weather-temperature;
      margin: auto;
    }

    &-humidity-wind {
      grid-area: weather-humidity-wind;
      margin: auto;
    }

    &-description {
      grid-area: weather-description;
      margin: auto;
    }
  }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width: 600px) {
  .card {
    &__info {
      display: grid;
      grid-template-columns: 1fr 1fr;

      & > div:nth-child(even) {
        align-self: center;
        margin-bottom: auto;
      }
    }
  }
}
